<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newdon.mapper.ContractInfoMapper">
    <select id="queryDiagramWithBusinessPerson" resultType="com.newdon.bo.ContractDiagramBo">
        SELECT SUM(contract_sum) as contractSum,business_personnel as businessPersonnel from contract_info
        <where>
            status = 1
            <if test="null != dateOfSignatureStart and null != dateOfSignatureStop">
                and date_of_signature BETWEEN #{dateOfSignatureStart} and #{dateOfSignatureStop}
            </if>
        </where>
        GROUP BY business_personnel
    </select>
    <select id="queryDiagramWithNewsFrom" resultType="com.newdon.bo.ContractDiagramBo">
        SELECT SUM(contract_sum) as contractSum,news_from as newsFrom from contract_info
        <where>
            status = 1
            <if test="null != dateOfSignatureStart and null != dateOfSignatureStop">
            and date_of_signature BETWEEN #{dateOfSignatureStart} and #{dateOfSignatureStop}
            </if>
        </where>
        GROUP BY news_from
    </select>
    <select id="queryDiagramWithRegion" resultType="com.newdon.bo.ContractDiagramBo">
        SELECT SUM(contract_sum) as contractSum,clientele_info.clientele_region as clienteleRegion from contract_info
        LEFT JOIN clientele_info ON contract_info.clientele_name=clientele_info.clientele_name
        <where>
            contract_info.status=1
            <if test="null != dateOfSignatureStart and null != dateOfSignatureStop">
            and date_of_signature BETWEEN #{dateOfSignatureStart} and #{dateOfSignatureStop}
            </if>
        </where>
        GROUP BY clientele_info.clientele_region
    </select>
</mapper>
